@import "../../Pages/Colors.scss";

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    text-align: center;
    padding: .5em;
    a {
        color: $white;
        font-size: 25px;
    }
}
.navbar-container {
    background-color: $secondary-bg;
}
